body {
    display: flex;
    align-items: center; /* Pystysuunta */
    justify-content: center; /* Vaakasuunta */
    height: 100vh;
    flex-direction: column;
    font-size: 2rem;
}

#gameArea {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin-bottom: 3rem;
}
#gameArea img {
    width: 10rem;
}

.card {
    cursor: pointer;
}
.card.open {
    background-color: #ffeeaa;
}
.card.right {
    background-color: #b3ffc0;
}
.card.wrong {
    background-color: #ffb6b6;
}
